.weather-button {
	float: left;
	/*margin-right: 235px;*/
	margin-right:64px;
	margin-left:3px;
	margin-top: 2px;
}

.pocasie_nazov1 {
	float: left;
	/*margin-left: 124px;*/
	margin-left:20px;
	margin-top: 13px;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
	color: #28263F;
	
}

.pocasie_nazov2 {
	float: left;
	/*margin-right: -130px;*/
	margin-top: 13px;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
	color: #0A5FAA;
	margin-right:50px;
	
}
.weatherFeed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin: 2em 3em;
	width: 280px;
}
.weatherFeed a {
	color: #888;
}
.weatherFeed a:hover {
	color: #000;
	text-decoration: none;
}
.weatherItem {
	padding: 0.8em;
	text-align: right;
}
.weatherCity {
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 20px;
	font-weight:bold;
	

}
.weatherTemp {
	font-size: 50px;
	font-weight: bold;
	font-family: "Roboto";
}
.weatherDesc, .weatherCity, .weatherForecastDay {
	font-weight: bold;
	
	
}
.weatherDesc {
	margin-bottom: 0.4em;
}
.weatherRange, .weatherWind, .weatherLink, .weatherForecastItem {
	font-size: 0.8em;
}
.weatherLink, .weatherForecastItem {
	margin-top: 0.5em;
	text-align: left;
}
.weatherForecastItem {
	padding: 0.5em 0.5em 0.5em 80px;
	background-color: #fff;
	background-position: left center;
}
.weatherForecastDay {
	font-size: 1.1em;
}

.odd {

}
.even {

}